[submodule "node_modules/wn2-command-init"]
	path = node_modules/wn2-command-init
	url = https://github.com/skdream/wn2-command-init.git

[submodule "node_modules/wn2-postpackager-loader"]
	path = node_modules/wn2-postpackager-loader
	url = https://github.com/skdream/wn2-postpackager-loader.git